<!DOCTYPE html>
<html lang="en">
{% extends 'bootstrap/base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block title %}Flasky 哈哈哈{% endblock %}

<-- 修改网站的收藏夹图标 -->
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"></link>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <-- 这里在手机里才会展示，web电脑端不会展示 -->
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a class="navbar-brand" href=" ">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="/static/accpwd.rtf">UpDownCase</a></li>
                <-- 可以直接使用static 静态文件地址访问静态文件，优先使用这种方式，直接下载成功 -->
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Hello, {{ name }}, welcome to this website!</h1>
        <h2>You can learn more about Flasky.</h2>
        <p><a href="{{ url_for('index') }}">Go to Index</a></p>
        <p><a href="{{url_for('user',name='lily') }}">Go to 404</a></p>
    </div>
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="my-script.js">
 alert('hello world!');
 


</script>
{% endblock %}


</body>
</html>